@font-face {
    font-family: "DIN 2014 Demi";
    src: url("/fnt/DIN2014Demi.otf");
}
@font-face {
    font-family: "OliversBarney";
    src: url("/fnt/OliversBarney.ttf");
}
@font-face {
    font-family: "Minecraft";
    src: url("/fnt/Minecraft.otf");
}
@font-face {
    font-family: Roboto;
    src: url("/fnt/Roboto.ttf");
}
:root {
    --main-color: linear-gradient(to right, #4D7A41, #C4151C);
    --box-shadow: #8a482f;
    --main-font: Arial;
    --pri: #4D7A41;
    --sec: #ffffff;
}
html, body {
    margin: 0;
    padding: 0;
}
body {
    overflow-x: hidden;
    text-decoration: none;

    background-image: url(img/Background.png);
    background-position: center center;
    background-repeat: repeat;
    background-size: cover;

    font-family: var(--main-font);
}
* {
    box-sizing: border-box;
}
#logo {
    width: 512px;
    height: 128px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

::selection {
    background: rgba(128,0,255,0.5);
}
::-webkit-scrollbar {
    width: 20px;
}
::-webkit-scrollbar-track {
    background: rgb(0, 0, 0);
}
::-webkit-scrollbar-thumb {
    background: rgba(255,255,255,128);

    transition: background 0.1s;
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(255,255,255,255);

    transition: background 0.1s;
}
::-webkit-scrollbar-button {
    background: rgb(64,64,64);
}

.heading {
    text-align: center;
    color: white;
    font-weight: 1000;
    font-size: 80px;
}

p, .a {
    text-align: center;
    color: white;
    font-weight: 500;
    font-size: 40px;
    margin-left: auto;
    margin-right: auto;
    
    display: block;
}

#ipcontainer {
    height: 7em;
}
#ip {
    background: rgba(128,128,128,0.4);
    box-shadow: 0 0 20px white;
    color: rgba(128,128,128,1);
    width: 16ex;
    height: 1.5em;
    transform-origin: center;
    cursor: pointer;
    border: 0.1em;
    border-color: white;
    border-style: solid;

    transition: width 0.1s, height 0.1s, font-size 0.1s,  color 1s;
}
#ip:hover {
    font-size: 55px;
    color: rgba(255,255,255,1);

    transition: width 0.1s, height 0.1s, font-size 0.1s, color 1s;
}

.sociallink {
    width: 100px;
    height: 100px;
    overflow: hidden;
    display: inline-block;
    padding: 20px;
    transition: width 0.1s, height 0.1s;
}
.sociallink:hover {
    width: 110px;
    height: 110px;
    overflow: hidden;
    display: inline-block;

    transition: width 0.1s, height 0.1s;
}
.sociallinkcontainer {
    height: 70px;
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
}
#discordwidget {
    margin-left: auto;
    margin-right: auto;
    display: block;
    opacity: 0.9;
    width: 50vw;
    height: 50vh;
}

#gallery {
    margin-bottom: 100px;
}
#galleryContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}
.galimg {
    width: 90vw;
}