:root {
    --main-color: linear-gradient(to right, #4D7A41, #C4151C);
    --box-shadow: #8a482f;
    --main-font: Arial;
    --pri: #4D7A41;
    --sec: #ffffff;
}
* {
    font-family: "Roboto Medium";
    color: white;
}
html, body {
    margin: 0;
    padding: 0;
}
body {
    overflow-x: hidden;
    text-decoration: none;
    
    background-color: black;
    font-family: var(--main-font);
}
img {
    width: 400px;
    height: 250px;
}
::-webkit-scrollbar {
    width: 20px;
}
::-webkit-scrollbar-track {
    background: rgb(0, 0, 0);
}
::-webkit-scrollbar-thumb {
    background: rgba(255,255,255,128);

    transition: background 0.1s;
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(255,255,255,255);

    transition: background 0.1s;
}
::-webkit-scrollbar-button {
    background: rgb(64,64,64);
}

.gridcontainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        ". . ."
        ". . .";
}
.gridobject {
    text-align: center;
    width: 400px;
    height: 350px;
}
.poilayout {
    font-size: 20px;
}