@font-face {
    font-family: "OliversBarney";
    src: url("fnt/OliversBarney.ttf");
}
@font-face {
    font-family: Roboto;
    src: url("fnt/Roboto.ttf");
}

body {
    overflow-x: hidden;
    text-decoration: none;

    background-image: url(img/backgrounds/background.jpg);
    background-size: contain;
}
::selection {
    background: rgba(128,0,255,0.5);
}
::-webkit-scrollbar {
    width: 20px;
}
::-webkit-scrollbar-track {
    background: rgb(0, 0, 0);
}
::-webkit-scrollbar-thumb {
    background: rgba(255,255,255,128);

    transition: background 0.1s;
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(255,255,255,255);

    transition: background 0.1s;
}
::-webkit-scrollbar-button {
    background: rgb(64,64,64);
}

.heading {
    text-align: center;
    color: white;
    font-family: Roboto;
    font-weight: 1000;
    font-size: 80px;
}

p {
    text-align: center;
    color: white;
    font-family: Roboto;
    font-weight: 500;
    font-size: 40px;
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
}

#ipcontainer {
    height: 7em;
}
#ip {
    font-family: "OliversBarney";
    background: rgba(128,128,128,0.4);
    box-shadow: 0 0 30px rgba(128,128,128,1);
    color: rgba(128,128,128,1);
    width: 16ex;
    height: 1.5em;
    border-radius: 25%;
    transform-origin: center;
    cursor: pointer;
	transform-origin: center;
    user-select: none;

    transition: width 0.1s, height 0.1s, font-size 0.1s,  color 1s;
}
#ip:hover {
    font-size: 55px;
    color: rgba(255,255,255,1);

    transition: width 0.1s, height 0.1s, font-size 0.1s, color 1s;
}

.sociallink {
    width: 50px;
    height: 50px;
    overflow: hidden;
    display: inline-block;
    padding: 20px;
    transition: width 0.1s, height 0.1s;
}
.sociallink:hover {
    width: 60px;
    height: 60px;
    overflow: hidden;
    display: inline-block;

    transition: width 0.1s, height 0.1s;
}
.sociallinkcontainer {
    height: 70px;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    justify-content: center;
}
#discordwidget {
    margin-left: auto;
    margin-right: auto;
    display: block;
    opacity: 0.9;
    width: 50vw;
    height: 50vh;
}

#gallery {
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    justify-content: center;
}
.galimg {
    width: 90vw;
}