@font-face {
    font-family: "DIN 2014 Demi";
    src: url("fnt/DIN2014Demi.otf");
}
@font-face {
    font-family: "Olivers Barney";
    src: url("fnt/OliversBarney.ttf");
}
@font-face {
    font-family: "Minecraft";
    src: url("fnt/Minecraft.otf");
}
@font-face {
    font-family: Roboto;
    src: url("fnt/Roboto.ttf");
}
:root {
    --main-color: rgb(255,200,0);
    --main-font: Roboto;
    --pri: rgba(255,200,0,0.7);
    --main-color-bg: rgb(128,100,0);
    --main-color-bg-trans: rgba(128,100,0,0.7);
    --sec: rgba(128,0,255,1);
}
html, body {
    margin: 0;
    padding: 0;
}
body {
    overflow-x: hidden;
    overflow-y: hidden;
    text-decoration: none;
}
* {
    box-sizing: border-box;
}
.bg {
    background-position: center center;
    background-repeat: repeat;
    width: 100%;
    height: 100%;
    background-size: 100%;
    position: absolute;
}
#ctbmbg {
    background-image: url(/img/background.jpg);
}

::selection {
    background: rgba(128,0,255,0.5);
}
::-webkit-scrollbar {
    width: 20px;
}
::-webkit-scrollbar-track {
    background: rgb(0, 0, 0);
}
::-webkit-scrollbar-thumb {
    background: rgba(255,255,255,128);

    transition: background 0.1s;
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(255,255,255,255);

    transition: background 0.1s;
}
::-webkit-scrollbar-button {
    background: rgb(64,64,64);
}

#indexdiv {
    position: absolute;
    margin-top: 20%;
    width: 100vw;

    display: flex;
    flex-direction: column;
}
#indexheading {
    font-size: 60px;
    text-shadow: 0 0 20px rgb(255,255,255);
}
.serverlink {
    cursor: pointer;
	transform-origin: center;
    user-select: none;
    padding-block-end: 20px;

    transition: color 0.5s, text-shadow 0.5s;
}
#SCP5Klink {
    font-family: "DIN 2014 Demi";
    color: rgba(128,128,128,1);
    text-shadow: 0 0 10px rgba(100,100,100,1);
}
#SCP5Klink:hover {
    color: rgba(255,0,0,1);
    text-shadow: 0 0 20px rgba(255,0,0,1);
}
#SCPSLlink {
    font-family: "Olivers Barney";
    color: rgba(128,128,128,1);
    text-shadow: 0 0 10px rgba(100,100,100,1);
}
#SCPSLlink:hover {
    color: rgba(255,0,0,1);
    text-shadow: 0 0 20px rgba(255,0,0,1);
}
#MClink {
    font-family: "Minecraft";
    color: rgba(0,128,32,1);
    text-shadow: 0 0 20px rgba(0,100,30,1);
}
#MClink:hover {
    color: rgba(0,255,64,1);
    text-shadow: 0 0 20px rgba(0,255,64,1);
}

.heading {
    text-align: center;
    color: white;
    font-family: Roboto;
    font-weight: 1000;
    font-size: 80px;
    width: 100%;
}

p {
    text-align: center;
    color: white;
    font-family: Roboto;
    font-weight: 500;
    font-size: 40px;
    margin-left: auto;
    margin-right: auto;
}
a {
    text-align: center;
    color: white;
    font-family: Roboto;
    font-weight: 500;
    font-size: 40px;
    margin-left: auto;
    margin-right: auto;
}

.sociallink {
    width: 100px;
    height: 100px;
    overflow: hidden;
    display: inline-block;
    padding: 20px;
    transition: width 0.1s, height 0.1s;
}
.sociallink:hover {
    width: 110px;
    height: 110px;
    overflow: hidden;
    display: inline-block;

    transition: width 0.1s, height 0.1s;
}
.sociallinkcontainer {
    height: 70px;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    justify-content: center;
}