@font-face {
    font-family: "OliversBarney";
    src: url("fnt/OliversBarney.ttf");
}

::selection {
    background: rgba(128,0,255,0.5);
}
::-webkit-scrollbar {
    width: 20px;
}
::-webkit-scrollbar-track {
    background: rgb(0, 0, 0);
}
::-webkit-scrollbar-thumb {
    background: rgb(128,128,128);
    transition: background 0.1s;
}
::-webkit-scrollbar-thumb:hover {
    background: rgb(255,255,255);
    transition: background 0.1s;
}
::-webkit-scrollbar-button {
    background: rgb(64,64,64);
}
body {
    overflow-x: hidden;
    text-decoration: none;
}

#backgrounds {
    display: flex;
    flex-direction: column;
    width: 101%;
    height: 100%;
    margin: -8;
    padding: 0;
    user-select: none;
}

.heading {
    text-align: center;
    color: white;
    font-family: roboto;
    font-weight: 1000;
    font-size: 80px;
}

p {
    text-align: center;
    color: white;
    font-family: roboto;
    font-weight: 500;
    font-size: 40px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 10%;
    width: 50vw;
    flex-direction: row;
    position: absoulte;
    padding: 50px;
    transform: translateY(-500px);
    user-select: none;
}

#ip {
    font-family: "OliversBarney";
    background: rgba(0,0,0,0.5);
    width: 25%;
    height: 0%;
    border-radius: 25%;
    transform-origin: center;
    transition: width 0.1s, height 0.1s, font-size 0.1s;
    cursor: pointer;
}
#ip:hover {
    width: 30%;
    height: 5%;
    font-size: 45px;
    transition: width 0.1s, height 0.1s, font-size 0.1s;
}